#ignore all .asv file
*.asv

#ignore the teste.m file
#teste.m
VariumDegradados.mat


#ignore the following folders
LIVE Video Quality Challenge (VQC) Database/
PristineVideos/
Experiment1/
Varium/
Experiment2_TI_DIFF_FFT/
Frames TI max/
ST/plotagens/
Resultados/
